[unix_http_server]
file=<%= ENV['OPENSHIFT_SUPERVISOR_DIR'] %>run/supervisor.sock 

[inet_http_server]
port=<%= ENV['OPENSHIFT_SUPERVISOR_INTERNAL_IP'] %>:<%= ENV['OPENSHIFT_SUPERVISOR_INTERNAL_PORT'] %>
username=diff              ; (default is no username (open server))
password=realitymonitor               ; (default is no password (open server))

[rpcinterface:supervisor]
supervisor.rpcinterface_factory = supervisor.rpcinterface:make_main_rpcinterface

[supervisord]
logfile=<%= ENV['OPENSHIFT_SUPERVISOR_DIR'] %>logs/supervisord.log 
logfile_maxbytes=50MB
logfile_backups=5
loglevel=info
pidfile=<%= ENV['OPENSHIFT_SUPERVISOR_DIR'] %>run/supervisord.pid

[supervisorctl]
serverurl=unix://<%= ENV['OPENSHIFT_SUPERVISOR_DIR'] %>run/supervisor.sock

[include]
files=<%= ENV['OPENSHIFT_REPO_DIR'] %>supervisord.conf <%=ENV['OPENSHIFT_REPO_DIR'] %>etc/supervisord.d/*.conf
